* {
  box-sizing: border-box;
  color: black;
  font-family: sans-serif;
  font-size: 1em;
}

:focus {
  outline: 0;
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.2);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(245, 202, 30), rgb(225, 80, 0));
}

input {
  width: 200px;
  padding: 10px;
  border: 1.5px inset #e56a13a8;
  border-radius: 3px;
  background: rgba(255, 185, 60, 0.7);
}

.search-container {
  position: relative;
}

ul {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255, 185, 60, 0.7);
}

ul li {
  padding: 10px;
}

ul li:hover {
  cursor: default;
  background: rgba(225, 80, 0, 0.8);
}